<div class="hero">
    <div class="hero__background">
        <img src="/assets/hero-header.jpg">
    </div>
    <div class="hero__actions">
        <div class="button" [routerLink]="['/', 'applicant', 'question-one']">Find Jobs</div>
        <div class="button" [routerLink]="['/', 'applicant', 'post']">Post a Job</div>
    </div>
</div>

<div class="content">
    <div>
        <h1>What is Get Hired?</h1>
    </div>

    <p>
        The Prince’s Trust has been supporting young people into work for over 40 years. We are now bringing you Get
        Hired, which is a revolutionary recruitment platform bringing businesses together with talented young people,
        without the need for a CV.
    </p>
    <p>
        Get Hired is bridging the gap between businesses looking for a low cost time efficient recruitment process and
        young people who are ready to move into work but struggling to access the right opportunities. To do this, we
        are focusing on building a community of forward thinking businesses who not only want to access the next
        generation of diverse talent but also want to do good.
    </p>
</div>
